<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<meta charset="utf-8">
<form action="/register" method="POST">
    <p>Username:<br>
        <input type="text" name="username" required minlength="1"></p>
    <p>Password:<br>
        <input type="password" name="password1" required minlength="6" maxlength="26"></p>
    <p>Password again:<br>
        <input type="password" name="password2" required minlength="6" maxlength="26"></p>
    <span style="color: red">{{ message }}</span><br>
    <input type="submit" value="Register">
</form>
{% endblock %}