<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}{{ title}}{% endblock %}
{% block content %}
<title>Oljenkorsi</title>
<h2>{{ title }}</h2>
<p>
{{ description }}
</p>
{% if session.username %}
<form action={{ sitename }} method="POST">
    <p>Review:<br>
        <input type="text" name="review" required minlength="1" maxlength="200"></p>
    <p>Stars(0-5):<br>
        <input type="number" name="stars" required min="0" max="5"></p>
    <input type="submit" value="Send">
</form><hr>
{% for review in allreviews %}
By: {{ review[0] }} <br>
Review: {{ review[1] }} <br>
Stars: {{ review[2] }} <br>
Created: {{ review[3].strftime("%d-%m-%Y %H:%M:%S") }}<hr>
{% endfor %}
{% else %}
{% for review in allreviews %}
By: {{ review.username }} <br>
Review: {{ review.review }} <br>
Stars: {{ review.stars }} <br>
Created: {{ review.created_at.strftime("%Y-%m-%d %H:%M:%S") }}<hr>
{% endfor %} 
{% endif %}
{% endblock %}

